.vscode/
multiquery/utils/__pycache__/
venv/

# Ignore Python cache directories
__pycache__/
__pycache__
classes_multiquery.png
packages_multiquery.png

# React
node_modules/
.env
build/

# Other ignores
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
output
backend/app.log