.vscode/
multiquery/utils/__pycache__/
venv/

# Ignore LLM Contextual Information
backend_code.txt
frontend_code.txt
backend_filestructure.txt
frontend_filestructure.txt

# Ignore Python cache directories
__pycache__/
__pycache__
classes_multiquery.png
packages_multiquery.png

# React
node_modules/
.env
build/

# Other ignores
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
output
backend/app.log

############## Frontend ignores (moving up to parent for coalesce_code.sh to work) ##############################
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
